body{
    background-color: #1f1f42;
}

p {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* Horizontal navigation bars */

/*We modify the style of list of links to create a nav bar*/

ul {
    list-style-type: none; /*removes the bullets from list elements */
    margin: 0%;
    padding: 0%; /*Set margin: 0; and padding: 0; to remove browser default settings*/
    background-color: #685aad;
    border: 1px solid whitesmoke;
    overflow: hidden;
}



/*To build a vertical navigation bar, you can style the <a> elements inside the list, 
in addition to the code above:*/

li {
    float: left;      
}

a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-right: 1px solid whitesmoke;
    
}
/* Change the background color upon mouse hover */

li:hover{
    background-color: #1f1f42;
}

/* Configuring the dropdown menu inside the content */

/* Style the dropbtn */
.dropbtn{
    background-color: #685aad;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    cursor: pointer;
    width: 20%;
}

/* Style the main container */

.dropdown{
    position: relative;
    display: inline;
    
}

/* Style the content container */
.dropdown-content{
    display: none; /*Not visible (hidden) until hovered (as defined below later) */
    position:absolute; /*we want the dropdown content to be placed right below the dropdown button */
    background-color: #685aad;
    width: 100%; /*This could be experimented */
    box-shadow: 0px 0px 8px 0px whitesmoke; /* We use box shadow instead of border to make the dropdown content appear like a 'card' */
    z-index: 1;
}

/* Style the links in the container */
.dropdown-content a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Declare the hover behavior of links in the content: change color */
.dropdown-content a:hover{
    background-color: #1f1f42;
}

/* Declare the hover behavior of main and inner containers: be visible and block */
.dropdown:hover .dropdown-content {
    display: block; /*Note that .dropdown:hover state controls .dropdown-content since content is child */
}

/*Let's also add some hover effect to button itself */
.dropbtn:hover{
    background-color: #1f1f42;
    box-shadow: 0px 0px 8px 0px whitesmoke;
}

.dynamic-content{
    width: 79%;
    border: none;
    float: right;
    margin: auto;
    text-align: center;
}

.dynamic-content:hover{
    background-color: #685aad;
    box-shadow: 0px 0px 8px 0px whitesmoke;
}

/* Style the toolbar buttons */
#toolbarbtn1{
    background-color: #685aad;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 1px whitesmoke;
    cursor: pointer;
    width: 15%;
    float: right;
}

#toolbarbtn2{
    background-color: #685aad;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 1px whitesmoke;
    cursor: pointer;
    width: 15%;
    float: left;
}

#toolbarbtn1:hover {
    background-color: #1f1f42;
    box-shadow: 0px 0px 8px 0px whitesmoke;
}

#toolbarbtn2:hover{
    background-color: #1f1f42;
    box-shadow: 0px 0px 8px 0px whitesmoke;
}